<launch>
    <include file="$(find ur_robot_driver)/launch/ur10e_bringup.launch">
        <arg name="robot_ip"            value="192.168.0.210"/>
        <arg name="kinematics_config"   value="$(find ur10e_grain_moveit_config)/config/iaac_ur10e_calibration.yaml"/>
    </include>
    <include file="$(find ur10e_grain_moveit_config)/launch/ur10e_moveit_planning_execution.launch"/>
</launch>