<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="https://ros.org/wiki/xacro">
    <!-- Here we define the 2 parameters of the macro -->
    <xacro:macro name="end_effector" params="prefix connected_to">
        <!-- Create a fixed joint with a parameterized name. -->
        <joint name="${prefix}end_effector_joint" type="fixed">
            <!-- The parent link must be read from the robot model it is attached to. -->
            <parent link="${connected_to}" />
            <child link="${prefix}end_effector" />
            <!-- The tool is directly attached to the flange. -->
            <origin rpy="${pi} ${-pi/2} 0" xyz="0 0 0" />
        </joint>
        <link name="${prefix}end_effector">
            <visual>
                <geometry>
                    <!-- The path to the visual meshes in the package. -->
                    <mesh
                        filename="package://ur10e_zivid_moveit_config/zivid_description/meshes/zivid_ee_v.stl" />
                </geometry>
                <material name="black">
                    <color rgba="${20/255} ${20/255} ${20/255} 1.0" />
                </material>
            </visual>
            <collision>
                <geometry>
                    <!-- The path to the collision meshes in the package. -->
                    <mesh
                        filename="package://ur10e_zivid_moveit_config/zivid_description/meshes/zivid_ee_c.stl" />
                </geometry>
            </collision>
        </link>
        <!-- TCP frames -->
        <joint name="${prefix}camera_joint" type="fixed">
            <origin xyz="-0.057209 -0.043066 0.0545" rpy="${pi/2} 0 ${-pi/2}" />
            <parent link="${prefix}end_effector" />
            <child link="${prefix}camera_tcp" />
        </joint>
        <link name="${prefix}camera_tcp" />
    </xacro:macro>
</robot>